# Folder view configuration files
.DS_Store

# Icon
Icon\r
Icon\r\r
Icon[
]
Icon?
"Icon[\r]"
Icon[\r]

# VS Code Settings
.vscode

# Compiled Python files
*.pyc

# My Spotify Data
MyData

# Other
ideas.txt